/* General estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #7de91e;
    color: white;
}

.menu-container {
    padding: 20px;
}

.menu-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.8rem;
    background-color: #6de503;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.section-content {
    display: none; /* Inicialmente oculto */
    overflow: hidden;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.menu-item {
    display: flex;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.03);
}

.menu-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #6de503;
}

.menu-info {
    padding: 10px;
    flex-grow: 1;
}

.price {
    color: #6de503;
    font-weight: bold;
}
